/* General */
/* best left as is */
.tiny-header {background: none;}

/* Header images and background */
/* table#top_title_graphics {display: none;} */
div.second-alignment{width:100%; height: 100%;}
.header-top-bg, td.first-aligment { height: 80px;}
.header-top-bg {background-color: #fff; padding: 0;}
td.first-aligment {background-image: url('images/logo-80-160.png'); background-repeat: no-repeat;}
.header-top-bg {    
	background-color: #fff;
    height: 80px;
    background-image: url(https://asia.checker-soft.com/morrigan/checker-files/company-images/185-Logo-750.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: auto 60px; 
}
td.first-aligment img {
    display: none;
}
.second-alignment {background-image: url('images/logo-80-160.png'); background-repeat: no-repeat;}

body, .tiny-header {direction: ltr;}
td.first-aligment {background-position: left center;}
.second-alignment {background-position: right center;}
/* If the design is for RTL (BiDi) languages such as Hebrew and Arabic, then change to rtl */
/* body, .tiny-header {direction: rtl;} */
/* td.first-aligment {background-position: right center;} */
/* .second-alignment {background-position: left center;} */

body, th, td, select, input, button {font-family: Arial; font-size: 13px;}
td.left-menu-padding div.second-alignment {
    display: none;
}
/* Hiding the header image and the company logo */
.second-alignment img { display: none;}

.second-alignment{
	height:80px;
}
.secondRowStyle {display: none;}
/* .mmMessage {display: none;} */

/* Top menu */
/* table#menu_top_level_wrapper{
  display: block;
}




















 */
.menu-bg {background-color: #009DD9;}
.menu_top_level_wrapper {border: none; 
/* border-top:1px solid #5D7585;border-bottom:1px solid #5D7585; */
}
.top_menu {    font-family: arial;font-size: 12px;}
.top_menu a {color: #fff;    font-size: 13px;    }
.top_menu a:hover {color: #fff; font-size: 13px;}
.top_menu-selected{background-color: #74c5f3;}

.top_menu-selected a , .top_menu-selected a:hover{
  color: rgba(149, 214, 18, 0.95);
  font-size: 20px;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}











































/* Welcome text and unwached reviews */
/* table#main_menu_title_text{
  display: block;
}









 */
/* #set-language {display: none;} */
#set-language {padding: 0; margin: 0 0.1em; font-size: 1em;}
.gray-lighter2, .unwatchedLink{
  color: rgb(249, 255, 254);
  text-decoration: none;
  font-size: 16px;
}










a.unwatchedLink {font-weight: bold}
.gray-lighter3 {border: none;}

/* Bottom information bar */
.side_menu {border-bottom: 0px solid #666;}
/* tr.bottom-tr {display: none;} */
.bottom-tr {
    background-color:#009DD9;
    color: #fff;
    text-align: left;
}
.font-style {font-size: 15px;}
.footer-dots { background: #009DD9; border-bottom: none; display: none;}
.contact-td { background: #009DD9; border: none;}

/* Tables */
/* Links in tables */
.report tr a {color: #000; font-weight: bold;}
.report tr a:hover {color: #fff; background-color: #4080e0;}
thead.report tr.filters td {border: none;}

.report , .report tr, .report td {color: #000000; border: none;}
table.report, #red_border, .db-surrounding {border: none;}
td.report-firstcol {padding: 7px;}

thead.db a, th.db-ltr {    color: #000;}
td.db-ltr {   border-left: #ccc 1px solid;}
tr.filters td {border-left: 0px;}
thead.db, thead.report{background-color: #113059; font-weight: bold;}
.report th, thead.report a, thead.report a:hover{
  color: rgb(0, 0, 0);
  background-color: transparent;
  border: none;
}








tr.db th, .report-dir {border-left-color: transparent; border-left-style: solid; border-left-width: 1px;}

table.db {  border: 1px solid #ccc;}
/* 1st tr */
tr.db1, tr.report1 {background-color: #eee;}
/* 2nd tr */
tr.db2, tr.report2{
  background-color: rgba(237, 237, 237, 0.56);
  border-bottom-color: #FFFFFF;
  border-top-color: #FFFFFF;
}


table.report tr {    border: 0px solid #A7BBC6;}
/* higlighted tr */
tr.db1:hover, tr.report1:hover, tr.db2:hover, tr.report2:hover {background-color:#ccc; text-decoration: none;}

/* Visit report */
/* These 2 lines set the border for the summary in the 1st page */
table.HeaderGradeTable td {border: solid 1px black;}
table.HeaderGradeTable {border-collapse: collapse;}

/* Analyst screen (dashboard) specific settings */

/* Categories (tabs) */
.reports_categories {background-color: transparent; padding: 0 20px; border-collapse: collapse; margin-bottom: 10px;}
/* .top_tabs_row {background-color: transparent; border-collapse: collapse; position: sticky; top: 0;} */
.top_tabs_row {background-color: transparent; border-collapse: collapse;}
.reports_categories tr {height: 25px;}
/* .toptabinactive {color: #204080; background-image: none; text-align: center; vertical-align: middle; font-size: 14px;} */
.toptabinactive {background-image: none; text-align: center; vertical-align: middle;}
.reports_categories .toptabinactive {background-color: #fff;}
.toptabinactive strong {color: #204080; font-size: 14px;}
.toptabactive {text-align: center; vertical-align: middle; background-color: #204080; background-image: none;}
.topTabActive strong, .tab_menu_item, .tab_menu_item a {color: #ffffff; font-size: 14px;}
 
.tab_menu_item a {text-decoration: none; font-weight: bold;}

.Ajax2TabActive {text-align: center; vertical-align: middle; font-size: 14px; background-image: none;}

.tab_menu_item:hover > .tab_menu_list, .tab_menu_list:hover {
    background-color: rgba(0, 98, 136, 0.8);
}

td.topTabActive, .reports_categories td.toptabinactive {border-radius: 10px;  -o-border-radius: 10px; -moz-border-radius: 10px; -icab-border-radius: 10px; -khtml-border-radius: 10px; -webkit-border-radius: 10px;}

/* Boxes (the containers for reports) */
.dragableBox {background: transparent;}
.dragableboxheader {background-color: transparent; border: none;}

.dragableboxheader, .grid_report_td h1, .title1{
  color: rgba(32,64,128,1);
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}



















/* See explanation for this item in the following link. the name should be changed */
/* http://i.imgur.com/is8ww57.png */
.calculated-width {
    width: -moz-calc(100% - 50px);
    width: -webkit-calc(100% - 50px);
    width: calc(100% - 50px);
}

/* .p_wrapper {background-image: url('images/16257176732_368279c644_k.jpg'); } */
.p_wrapper {background-image: none; background-repeat: no-repeat; background-size: auto auto; background-color: #3399ff; padding: 15px;}
.grid_reports_table {border-spacing: 20px; border-collapse: separate;}

#lgnd tr {display: inline;}

/* #the_cell_with_the_program {border: 1px solid #666;} */
#the_cell_with_the_program {border: none;}

.grid_report_td h1, .title1{font-size: 24px;}

.grid_report_td h1 img {
filter: alpha(opacity=20);
-moz-opacity: 0.2;
opacity: 0.2;
}

.grid_report_td h1 img:hover {
filter: alpha(opacity=100); /* IE */
-moz-opacity: 1; /* Mozilla */
opacity: 1; /* css3 */
}

.grid_report_td, .dragableBoxInner{
  padding: 5px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  background-color: rgba(254, 243, 243, 0.73);
}






























/* Forms and buttons */
.begin-report-area form {display: inline;}
.begin-report-area form[name="pastCycles"] table { border-collapse: collapse; margin: 0 10px; display: inline; vertical-align: bottom;}
/* .begin-report-area form[name="pastCycles"] {display: inline-flex;} */
.begin-report-area form[name="pastCycles"] input{display: inline-flex; white-space: nowrap;}
.begin-report-area input[name="pastDateCyclesNumber"] {border: 2px solid #dfdfd0; height: 25px; margin-right: 10px;}
.list-select {border: 2px solid #dfdfd0;}

/*.btn-input, .btn-input input {border: none; background-color: #4080e0; color: #ffffff; font-weight: bold; height: 25px;}*/
.btn-input, .btn-input input, input[type="button"], input[type="submit"], button:not(.ui-multiselect), input[type="file"]{
  font-weight: bold;
  min-height: 22px;
  background: linear-gradient(#6991da,#1e73be);
  background-color: transparent;
  border-radius: 3px;
  box-shadow: none;
  color: rgba(255,255,255,1);
  cursor: pointer;
  text-shadow: none;
  transition: all 0.2s linear 0s;
  margin: 3px 2px;
  font-size: 13px;
  border-style: none;
  padding: 5px 10px;
}


input#do_login {
    position: relative;
    right: -30px;
}
input#do_login {
    background: #009DD9;
    border-radius: 3px;
    background-image: none;
    font-size: 14px;
    color: #fff;
    padding: 6px 14px;
}
input#do_login:hover {
	background-color:#009DD9;
}
div#FiltersArea p  {    font-size: 13px; font-weight:bold;}

form[name="login"] td {
    font-size: 13px;
    font-weight: bold;
}

form[action="show-entire-crit.php"] tr , form[action="show-entire-crit.php"] td {border: 1px solid #929396; color: black;}
.critChap, .critSubc {font-weight: bold;}
center .critInfoItemTitle, center .CritInfoItem {font-size: 16px;}

/* Main menu (the page that is displayed right after logging in) */
tr.titleinsidemain {      
	background-color: #009DD9;
    color: #fff;
}

td.mainMenu-line1,td.mainMenu-line2 {    
	border: 0px solid #bbb;
    background-color: #eee;
}

/* Internal pages */
.pageTitle {color: #009DD9;}
.breadcrums {}
.section-lable {
    background-color: #e7e7e8;
    color: #009DD9;
    padding: 5px;
    text-transform: uppercase;
    border-radius: 5px;
}
a.reportitemtitle {color: #222;}

/* Icon next to menu items */
img.submenu-arrow {
	background-image: url(https://i.imgur.com/Mx19Nkf.png);
    background-size: auto 14px;
    width: 15px;
    height: 17px;
    background-repeat: no-repeat;
    vertical-align: middle;
}

td.leftpanel {background-color: #fff; border-top: 0px solid #cccccc;}

.leftcategorytitle {
    background-color: #fff;
    color: #009DD9;
    border-bottom: 1px solid #ccc;
	font-size: 12px;
	line-height: 10px;
    height: 20px !important;
}

form[name="login"] {
	border: 1px solid rgba(178, 178, 178, 0.8);
    border-radius: 0px;
    box-shadow: 0 2px 5px rgba(105, 108, 109, 0.7), 0 0 8px 5px rgba(178, 178, 178, 0.4) inset;
    margin: 0 0 35px;
    padding: 20px 60px 20px 0px;
    top: 0;
    display: inline-block;
    box-shadow: 0 5px 18px 0px #999999, 0 0 2px #999;
    margin-bottom: 0px;
}
form[name="login"] table {
    position: relative;
    right: -30px;
}

input[type="text"], input.searchClass, textarea {
    display: inline-block;
    border: 1px solid rgb(178, 178, 178);
    border-radius: 3px;
    box-shadow: 0 1px 4px 0 rgba(168, 168, 168, 0.6) inset;
    box-sizing: content-box;
    margin-top: 4px;
    margin-bottom: 10px;
    padding: 5px;
    transition: all 0.2s linear 0s;
}

input[name="username"], input[name="password"] {
    display: inline-block; border: 1px solid rgb(178, 178, 178);
    border-radius: 3px;
    box-shadow: 0 1px 4px 0 rgba(168, 168, 168, 0.6) inset;
    box-sizing: content-box;
    margin-top: 4px;
    margin-bottom: 10px;
    padding: 5px;
    transition: all 0.2s linear 0s;
}

form[name="login"] td {display: table;}

a.login_checkers_link,a[href*="recover-password"] {
    color: #646464;
}


#set-language {
    border-radius: 3px;
    display: inline-block;
    padding: 0px;
    border: 1px solid #777777 !important;
    text-decoration: none;
    color: #555 !important;
}

input[value="Search"] {
    border-radius: 3px;
    display: inline-block;
    border: 1px solid #777777 !important;
    text-decoration: none;
    color: #555 !important;
    padding: 0.4em 0.6em;
    background: #f6f6f6;
}

thead.db, thead.report {
    background-color: #003D76;
	text-align:center;
	border-bottom: 0px;
}
table.report {
    font-size: smaller;
    border: 0px solid #201545;
    border-collapse: collapse;
}
td.db-surrounding {
    border: 2px solid transparent;
}
thead.report a, thead.db th,thead.db th a, thead.db th font {
    color: #fff !important;
    font-weight: bold;
    text-decoration: none;
}
table.db {
    border-collapse: collapse;
    border-width: thin;
    font-size: smaller;
    border: 1px solid #ccc;
}
.report th {
    color: #fff;
	padding:8px;
}
tr.report1 td,tr.report2 td {
    padding: 8px;
}
tr.db2,tr.report2 {
    background-color: #fff;
    border-collapse: collapse;
	border: 0px solid #808080;
	text-align:center;
}
tr.db1, tr.report1 {
    background-color: #eee;
	border: 0px solid #808080;
	text-align:center;
}
tr.report1 a:hover {
    text-decoration: none;
	color:none;
}
tr.db1:hover, tr.report1:hover, tr.db2:hover, tr.report2:hover {
    background-color: #ddd;
    text-decoration: none;
    background-image: none;
}
thead.report td {
    color: #fff;
	border: 1px solid #808080;
}
td.report-ltr {
    border-right: 0px !important;
}
td.report-firstcol {
    text-align: left;
}
tr.report1 td,tr.report2 td, tr.db1 td,tr.db2 td {
    padding: 10px;
}
.btn-input:focus, .btn-input input:focus, input[type="button"]:focus, input[type="submit"]:focus, button:not(.ui-multiselect):focus, input[type="file"]:focus {
	outline: none;
}
.ui-widget-header {
    color: #333 !important;
    font-weight: bold;
    background: #cccccc url(images/ui-bg_highlight-soft_75_cccccc_1x100.png) 50% 50% repeat-x !important;
	border: 1px solid #999999 !important;
}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus{
    border: 1px solid #999999 !important;
    background: #dadada url(images/ui-bg_glass_75_dadada_1x400.png) 50% 50% repeat-x !important;
    font-weight: normal;
    color:#333 !important;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    border: 1px solid #999 !important;
    background: #ffffff url(images/ui-bg_glass_65_ffffff_1x400.png) 50% 50% repeat-x;
    font-weight: bold;
    color: #333 !important;
}
.ui-state-default .ui-icon,.ui-state-active .ui-icon, .ui-state-hover .ui-icon, .ui-state-focus .ui-icon {
    background-image: url(http://www.checker-soft.com/hospitality-works-netherlands/libraries/jquery/custom-theme/images/ui-icons_454545_256x240.png) !important;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
	 color:#333 !important;
}
div#FiltersArea p {
    font-size: 15px; color: #000;
}
form[name="login"] {
    background: #f5f5f5;
    border: 0px solid #ccc;
    border-radius: 0px;
    box-shadow: none;
    margin: 0 0 35px;
    top: 0;
    display: inline-block;
	box-shadow: 0 0 5px #bbb;
}
form[name="login"] td {
    display: block;
    font-size: 13px;
}
input[name="username"], input[name="password"] {
    display: inline-block;
    border: 1px solid rgb(178, 178, 178);
    border-radius: 3px;
    box-shadow: 0 1px 4px 0 rgba(168, 168, 168, 0.6) inset;
    box-sizing: content-box;
    margin-top: 4px;
    margin-bottom: 10px;
    padding: 5px;
    transition: all 0.2s linear 0s;
    font-size: 14px;
}
form[name="login"] table tr:first-child td:nth-child(2) {
    background-image: url(https://i.imgur.com/OTpI8Px.png);
    background-repeat: no-repeat;
    background-position: left 10px;
    background-size: auto 17px;
    text-indent: 25px;
}
form[name="login"] table tr:nth-child(2) td:nth-child(2) {
    background-image: url(https://i.imgur.com/OfeK6BC.png);
    background-repeat: no-repeat;
    background-position: left 10px;
    background-size: auto 17px;
    text-indent: 25px;
}
a.login_checkers_link, a.login_panels_link {
    background-color: #009DD9;
    color: #fff ;
    text-decoration: none;
    padding: 6px 10px;
    border-radius: 3px;
}
a.login_checkers_link:hover, a.login_panels_link:hover {
    background-color: #009DD9 ;
    color: #fff;
}
a[href*="recover-password.php"] {
    color: #009DD9  !important;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    border: 1px solid #ccc !important;
    background: #eee !important;
    color: #000 !important;
    padding: 10px 0px !important;
}
.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error {
    border: 1px solid #ccc !important;
    background: #eee !important;
    color: #000 !important;
    padding: 10px 0px !important;
}
.ui-state-error a, .ui-widget-content .ui-state-error a, .ui-widget-header .ui-state-error a {
    color: #cd0a0a !important;
}
.ui-state-error.ui-corner-all, .ui-state-highlight.ui-corner-all {
    width: 98%;
    margin: 0 auto;
    font-size: 14px;
}
.ui-state-highlight .ui-icon {
    background-image: url(https://i.imgur.com/6SdjYzr.png) !important;
    background-size: 16px auto;
    width: 30px;
    background-position: center;
    height: 18px;
}
span.ui-icon.ui-icon-alert {
    background-image: url(https://i.imgur.com/oXH3cuo.png) !important;
    width: 30px;
    height: 20px;
    background-size: 16px auto;
    background-position: center;
}
@media handheld,
only screen and (min-device-width : 320px) and (max-device-width : 480px),
only screen and (max-width : 320px),
/* only screen and (min-device-width : 768px) and (max-device-width : 1024px), */
/* only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape), */
/* only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait), */
/* only screen and (-webkit-min-device-pixel-ratio : 1.5), */
/* only screen and (min-device-pixel-ratio : 1.5), */
only screen and (max-width: 480px),
only screen and (max-device-width: 480px),
only screen and (min-device-width: 480px) and (max-device-width: 800px),
only screen and (device-width: 768px),
only screen and (device-width: 480px){
form[name="login"] {
	position:relative;
	width: 80%; text-align:center;
}
.font-style {
    font-size: 40px;
}	
a.fieldset_toggler {
    font-size: 3em;
    color: inherit;
    height: 100px;
    width: 100px;
    background-image: url(https://www.checker-soft.com/qualimetrie-fr/css/images/menu-200.png);
    background-size: 100px 100px;
    display: block;
    color: transparent;
}
a.fieldset_toggler.menu_top_level_wrapper img {
    content: url(http://i.imgur.com/lCun2lq.png) !important;
    height: 55px;
    position: relative;
    top: 30%;
    left: 0%;
	display:none;
}
.pageTitle {
	font-size: 40px;
}
span.breadcrums {
	font-size: 40px;
}
ul#menu_top_level {
    padding-left: 0;
}	
tr.menu-bg ul li a {
    display: block;
    float: left;
    padding: 10px 10px;
    font-size: 25px;
}	
 .top_menu a:hover {
    font-weight: bold;
    font-size: 25px;
    padding: 10px 10px;
}

.header-top-bg {
    display: block;
    height: 100px !important;
	padding-top: 10px;
}

td.first-aligment img {
    height: 80px;
}
table#top_title_graphics tr:nth-child(2) {
    display: none;
}
.second-alignment img {
    display:none;
}
a.login_checkers_link, a.login_panels_link {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 0px;
    font-size: 40px;
    font-weight: bold;
}
a[href*="recover-password.php"] {
     font-size: 50px;
}

form[name="login"] tr:first-child td:last-child {
    background-image: url(http://i.imgur.com/ZI5h4F0.png);
    background-position: left 40%;
    background-size: auto 70px;
    background-repeat: no-repeat;
    text-indent: 80px;
}

form[name="login"] tr:last-child td:last-child {
    background-image: url(http://i.imgur.com/A042idR.png);
    background-position: 1% 40%;
    background-size: auto 70px;
    background-repeat: no-repeat;
    text-indent: 80px;
}
form[name="login"] {border:0px; box-shadow:none;}

form[name="login"] td {
    font-size: 40px;     padding-bottom: 15px; }

input[name="username"], input[name="password"] {
    display: inline-block;
    border: 1px solid rgb(178, 178, 178);
    border-radius: 3px;
    box-shadow: 0 1px 4px 0 rgba(168, 168, 168, 0.6) inset;
    box-sizing: content-box;
    margin-top: 4px;
    margin-bottom: 10px;
    padding: 15px;
    transition: all 0.2s linear 0s;
    font-size: 40px;
}
input[name="username"]:focus, input[name="password"]:focus {
    outline: none;
}
input#do_login {
    border-radius: 0px;
    box-shadow: none;
    cursor: pointer;
    font-size: 3em;
    font-weight: normal;
    margin: 3px 2px;
    min-height: 44px;
    padding: 15px 60px;
    transition: all 0.2s linear 0s;
    color: #fff;
}

div#FiltersArea table {
    background-color: transparent;
    margin: 0 auto;
}
form[name="login"] table tr:first-child td:nth-child(2) {
   
    background-repeat: no-repeat;
    background-position: 4% center;
    background-size: auto 35px;
    text-indent: 45px;
    padding: 15px 30px;
}
form[name="login"] table tr:nth-child(2) td:nth-child(2) {
     background-repeat: no-repeat;
    background-position: 4% center;
    background-size: auto 35px;
    text-indent: 45px;
    padding: 15px 30px;
}	
input#do_login {font-size: 40px; font-weight: bold;} 

input[name="username"], input[name="password"] {font-size: 40px;}
div#FiltersArea p:nth-child(3) {font-size: 40px;}
.ui-state-error.ui-corner-all, .ui-state-highlight.ui-corner-all {
    width: 90%;
    margin: 0 auto;
    font-size: 15px;
}
}
.p_wrapper{
  background-image: url('images/business-team-handshake-collaboration-concept-P4XTC66.jpg');
}

.reports_categories .toptabinactive, div.Ajax2TabInActive{
  background-color: rgba(255, 255, 255, 0.98);
}






















.toptabinactive strong, .Ajax2TabInActive a.linkClass{
  font-size: 17px;
  color: rgb(118, 215, 196);
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}






















.toptabactive, div.Ajax2TabActive{
  background-color: rgb(118, 215, 196);
}













.topTabActive strong, .tab_menu_item, .tab_menu_item a, .Ajax2TabActive a{
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 22px;
  color: rgb(253, 253, 253);
}













.p_wrapper{
  background-image: url('images/10 copia.jpg');
  background-color: rgba(0, 0, 0, 0);
}

.p_wrapper{
  background-image: url('images/10 copia.jpg');
}

.p_wrapper{
  background-image: url('images/Green Background.jpg');
  background-color: rgba(250, 241, 241, 0);
}

.p_wrapper{
  background-image: url('images/green-grass-with-dew-PQ7XQE7.jpg');
  background-color: rgba(252, 252, 252, 0);
}

.p_wrapper{
  background-image: url('images/green-grass-with-dew-PQ7XQE7-min.jpg');
  background-color: rgb(250, 250, 250);
}

.p_wrapper{
  background-image: url('images/dew-drops-39MUPWR-min.jpg');
  background-color: rgba(243, 234, 234, 0);
}

.p_wrapper{
	background-image: url(images/spikes-of-barley-against-the-background-of-green-PZBPSHM-min.jpg);
    background-color: rgba(248, 243, 243, 0);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin-top: -34px !important;
}
li.tab_menu_item a.linkClass, .tab_menu_item a.linkClass {
    color: #000;
    text-decoration: none;
}
.second-alignment{
  background-image: url('images/LOGO_brand.png');
}

.second-alignment{
  background-image: url('images/LOGO_OJJU.png');
}

.second-alignment{
  background-image: url('images/Logo - Ojju.png');
}

.second-alignment{
  background-image: url('images/Logo - Ojju.png');
}

.p_wrapper{
  background-image: url('images/Ojju.JPG');
}

.p_wrapper{
  background-image: url('images/Logo BPJS TK 2018.png');
}

.p_wrapper{
  background-image: none;
  background-color: rgb(0, 0, 0);
}

.p_wrapper{
  background-image: none;
  background-color: rgb(237, 203, 35);
}

.p_wrapper{
  background-image: url('images/CMK 1.jpg');
}

.second-alignment{
  background-image: none;
}

.second-alignment{
  background-image: none;
}

.second-alignment{
  background-image: url('images/CMK.png.png');
}

.p_wrapper{
  background-image: url('images/CMK Store & Logo.jpg');
}

.p_wrapper{
  background-image: url('images/CMK Store & Logo v.1.jpg');
}

.p_wrapper{
  background-image: url('images/CMK Store & Logo v.2.jpg');
}

.p_wrapper{
  background-image: none;
}

.p_wrapper{
  background-image: url('images/CMK Store & Logo v.2.jpg');
  background-color: rgb(221, 201, 60);
}

.p_wrapper{
  background-image: url('images/CMK Store & Logo v.2.jpg');
}

.p_wrapper{
  background-image: url('images/CMK Store & Logo v.2.jpg');
}

.second-alignment{
  background-image: url('images/CMK Brand.png');
}

.top_menu a, .top_menu a:hover{
  color: rgb(14, 2, 2);
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 13px;
}

















.menu-bg{

}

.p_wrapper{
  background-image: url('images/CMK Store & Logo.jpg');
}

.menu-bg{

}

.p_wrapper{
  background-image: url('images/Bolttech Wllp 1.png');
}

.p_wrapper{
  background-image: url('images/Bolttech Wllp 1.png');
}

.second-alignment{
  background-image: url('images/Bolttech Logo.png');
}

.second-alignment{
  background-image: url('images/Bolttech Logo.png');
}

.second-alignment{
  background-image: url('images/Bolttech Logo.png');
}

.p_wrapper{
  background-image: url('images/Bolttech Wllp 1.png');
}

.p_wrapper{
  background-image: url('images/Bolttech Wllp 1.png');
}

.menu-bg{
  background-color: rgb(246, 246, 246);
}

.menu-bg{
  background-color: rgb(246, 246, 246);
}

.second-alignment{
  background-image: none;
}

.second-alignment{
  background-image: none;
}

.header-top-bg{
  display: block;
  background-color: rgb(220, 244, 43);
}

.header-top-bg{
  display: block;
  background-color: rgb(220, 244, 43);
}

.second-alignment{
  background-image: url('images/Bolttech Logo 2.jpg');
}

.second-alignment{
  background-image: url('images/Bolttech Logo 2.jpg');
}

.second-alignment{
  background-image: none;
}

.second-alignment{
  background-image: none;
}

.second-alignment{
  background-image: none;
}

td.first-aligment{
  background-image: url('images/Bolttech Logo 2.jpg');
}

td.first-aligment{
  background-image: url('images/Bolttech Logo 2.jpg');
}

.menu-bg{

}

.menu-bg{

}

td.first-aligment{
  background-image: none;
}

.second-alignment{
  background-image: url('images/Bolttech Logo 2.jpg');
}

.second-alignment{
  background-image: url('images/Bolttech Logo 2.jpg');
}

.second-alignment{
  background-image: url('images/Bolttech Logo 2.jpg');
}

td.first-aligment{
  background-image: none;
}

td.first-aligment{
  background-image: none;
}

.second-alignment{
  background-image: url('images/Bolttech Logo 2 Comprss.jpg');
}

.second-alignment{
  background-image: url('images/Bolttech Logo 2 Comprss.jpg');
}

.second-alignment{
  background-image: url('images/Bolttech Logo 2 Comprss.jpg');
}

.second-alignment{
  background-image: none;
}

.header-top-bg{
  background-color: rgb(255, 255, 255);
}

.menu-bg{

}

.menu-bg{

}

.menu-bg{
  background-color: rgb(0, 0, 0);
}

.p_wrapper{
  background-image: url('images/2581470.jpg');
}

.p_wrapper{
  background-image: none;
  background-color: rgba(162, 217, 206, 0.69);
}

.p_wrapper{
  background-image: url('images/2581470.jpg');
  background-color: rgba(162, 217, 206, 0.69);
}

thead.db, thead.report{

}

thead.db, thead.report{

}

thead.db, thead.report{
  background-color: rgb(145, 174, 169);
}

thead.db, thead.report{
  background-color: rgb(145, 174, 169);
}

thead.db, thead.report{
  background-color: rgb(180, 180, 180);
}

tr.db1, tr.report1{
  background-color: rgba(145, 174, 169, 0.74);
}

tr.report1 td a, tr.report1 td a:hover, tr.report1 td{

}







tr.db1, tr.report1{
  background-color: rgba(145, 174, 169, 0.56);
}

tr.db1, tr.report1{
  background-color: rgba(145, 174, 169, 0.55);
}

tr.report2 td a, tr.report2 td a:hover, tr.report2 td{

}


thead.db, thead.report{
  background-color: rgb(91, 91, 91);
}

thead.db, thead.report{
  background-color: rgba(37, 96, 156, 0.71);
}

thead.db, thead.report{
  background-color: rgba(37, 96, 156, 0.98);
}

.p_wrapper{
  background-image: url('images/Dummy.jpg');
}

.p_wrapper{
  background-image: url('images/HM.jpg');
}

td.first-aligment{
  background-image: url('images/MORRIGAN-logo.png');
}

.second-alignment{
  background-image: url('images/Logo.png');
}

.second-alignment{
  background-image: url('images/logo 2.png');
}

.second-alignment{
  background-image: url('images/logo h&m.png');
}

.second-alignment{
  background-image: url('images/logo - h&m.png');
}

.header-top-bg{
  background-image: none;
}

.menu-bg{
  background-color: rgb(239, 54, 54);
}

.menu-bg{
  background-color: rgb(224, 0, 38);
}

.menu-bg{
  background-color: rgb(224, 0, 38);
}

.menu-bg{
  background-color: rgb(224, 0, 38);
}

.menu-bg{
  background-color: rgb(255, 205, 213);
}

.menu-bg{
  background-color: rgb(255, 231, 235);
}

.menu-bg{
  background-color: rgba(0, 0, 0, 0.62);
}

.menu-bg{
  background-color: rgba(0, 0, 0, 0.48);
}

.menu-bg{
  background-color: rgba(0, 0, 0, 0.35);
}

.menu-bg{
  background-color: rgba(0, 0, 0, 0.27);
}

tr.db1, tr.report1{
  background-color: rgba(226, 0, 38, 0.51);
}

tr.db1, tr.report1{
  background-color: rgba(0, 0, 0, 0.17);
}

tr.db1, tr.report1{
  background-color: rgba(254, 243, 243, 0.73);
}

tr.db1, tr.report1{
  background-color: rgba(219, 216, 216, 0.89);
}

.p_wrapper{
  background-image: url('images/MAP Dept.Store.jpg');
}

.p_wrapper{
  background-image: url('images/MAP Dept.Store.jpg');
}

.header-top-bg{
  background-image: url('images/Logo MAP Dept.Store.png');
}

.header-top-bg{
  background-image: url('images/Logo MAP Dept.Store.png');
}

.menu-bg{

}

.menu-bg{

}

.header-top-bg{
  background-image: none;
}

td.first-aligment{
  background-image: none;
}

.header-top-bg{
  background-image: none;
}

.header-top-bg{

}

.second-alignment{
  background-image: none;
}

.header-top-bg{
  background-image: url('images/Logo MAP.png');
}

.header-top-bg{
  background-image: url('images/Eiger Logo.png');
  background-color: rgb(255, 255, 255);
}

.header-top-bg{
  background-image: url('images/Eiger Logo.png');
  background-color: rgb(255, 255, 255);
}

.p_wrapper{
  background-image: url('images/Eiger_bg.jpeg');
  background-color: rgb(255, 255, 255);
}

.p_wrapper{
  background-image: url('images/Eiger_bg.jpeg');
  background-color: rgb(255, 255, 255);
}

.header-top-bg{
  background-image: url('images/eiger_logo (1).png');
}

.header-top-bg{
  background-image: url('images/eiger_logo (1).png');
}
