/* new header */

.logo
{
	float: left;
	margin-right: 30px;
}

.set-language
{
	float: right;
	margin-left: 20px;
}

#logoff-button
{
	float: right;
}

.nav-box
{
	float: right;
	clear: right;
}

.search
{
	float: right;
}

.bread-crumbs a
{
	text-decoration: none;
}

.bread-crumbs a:not(:last-child):after,
.bread-crumbs span:not(:last-child):after
{
	content: ">";
	margin: 0 10px;
}

.quick-links
{
	float: right;
	margin-left: 20px;
	margin-right: 2%;
}

.lr-menu
{
	float: right;
	margin-left: 30px;
}

.lr-menu.open ul
{
	right: 0;
}

aside
{
	float: left;
	width: 200px;
	margin-right: 30px;
}

main
{
	float: left;
	width: 100%;
}

aside + main
{
	width: calc(100% - 230px);
}

/* new header end */

/* start of global.css */

#overlay
{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 100000;
	background: rgba(255,255,255,0.8) url('../loading.gif') no-repeat center center;
}

.critChap {
	font-size: 30px;
	font-weight: normal;
}

td, table, thead, tr, th {
	font-size: 25px;
}

.frozen-table-head
{
	position: fixed; left: 16px; top: 0;
}

.report-dir
{
	
}

.upper_tabs_nav{
	border-bottom: 1px solid #dddddd;
	font-size: 15px;
}

.upper_tabs_list{
	display: inline-block;
	margin-bottom: 0px;
}

.upper_tabs_item{
	margin-bottom: -1px;
	display: inline-block;
}

.tab_menu_list{
	display: none;
}

.tab_menu_item{
	color: #000000;
	position: relative; 
	padding: 8px 12px 7px;
}

.tab_menu_item:hover > .tab_menu_list, .tab_menu_list:hover{
	display: block;
	position: absolute;
	top: 30px;
	left: 10px;
	background-color: rgba(255,255,255,0.8);
	padding: 5px;
	z-index: 999999;
}

.Ajax2TabActive{
	color: #EEEEEE;
	font-weight: bold;
	border-radius: 10px 10px 0 0;
	background-color: #FFFFFF transparent;
	
	border-color: #ddd;
	border: 1px solid #dddddd;
	border-bottom: 1px solid #FFFFFF;
	
	padding: 8px 12px 8px;
}

.Ajax2TabInActive{
	color: #EEEEEE;
	
	padding: 8px 12px 8px;
}

tr.dnd_tr_drag
{
	background: #ffdd88;
}

.notify
{
	color: green;
	display: none;
}

.saved
{
	background-color: #aad376;
}

.saveFailed
{
	background-color: #E6703E;
}

/* end of global.css */

/* general
a:link    { color: blue; }
a:visited { color: blue; }  */

.mainCellBackground {
	border: 1px solid #4579AB;
}
/* TableEditor/db report styles  */
td.db-surrounding { 
}
table.db        {
	border-collapse: collapse;
	border-width: thin;
	font-size: smaller;
	border: 1px solid #83A8CC;
}

table.db a      { color: black; }                  

tr.db-current   {
	background-color: #F8B854;  
}

tr.db-current  a {color: #fff;}

tr.db1          {
	background-color: white;
}

tr.db1 a        {  text-decoration: none;} 
tr.db1 a:hover    { text-decoration: none;} 

tr.db1:hover    {
	background-color: #CE9696;
	text-decoration: none;
} 

tr.db2          {
	background-color: #f7f3f7;
	background-color: #EFEFF7;
	border-bottom: 1px solid #808080;
	border-top: 1px solid #808080;
	border-collapse: separate;
} 

tr.db2 a        { text-decoration: none;} 
tr.db2 a:hover    {
	text-decoration: none;
	font-weight: bold;
} 

tr.db2:hover    {
	text-decoration: none;
} 

td.db-firstcol  { padding-left: 5px;  padding-right: 5px; }
td.db-rtl       { padding-left: 5px;  padding-right: 5px; border-right: #808080 1px solid; }
td.db-ltr       { padding-left: 5px;  padding-right: 5px; border-left: #808080 1px solid; }

thead.db	      {
	color: #000;
	background-color: #ccddee;
	border-bottom: 1px solid #808080;
	border-collapse: separate;
}

thead.db a      { color: #000; font-weight: bold; text-decoration: none; }
thead.db a:hover {color: red; text-decoration: none; font-weight: bold;}
a.tedit-caption {  }
a.db-pageNumber    { text-decoration: none; color: black; }
span.db-curPageNumber { color: red; }

/* Edit forms of TableEdit and PropEdit */
table.tedit     { border-collapse: collapse; font-size: smaller }
tr.tedit { 
}
td.tedit-mandatory { font-weight: bold;   }
td.tedit           {   }
td.tedit-editbox   {   }
tr.tedit-seperator {
}
td.tedit-seperator { font-size: 0; height: 5px; }
.tedit-desc     { font-size: 90%;padding-bottom:15px; }

/* for the table that externally wraps the edit form (called outside TableEditor)
   this TD is for seperating between the edit form and the "edit contacts" texts.  
   and for seperating other stuff, too
   */
td.links-on-the-side { 
  font-size: 1px;
  width: 1px;
}

/* Table report styles */
td.report-surrounding { 
  border-style: solid;
  border-width: 2px;
  border-color: #CE0000;
  padding: 2px;
}

table.report    {
	font-size: smaller;
	border: 1px solid #83A8CC;
	border-collapse: collapse;
}

a.report-caption        { color: black; }

tr.report1      {
	background-color: white;
}
 
tr.report1 a    { text-decoration: none;} 
tr.report1 a:hover    {color: #fff;  background-color: red; text-decoration: none;} 

tr.report1:hover      {
	background-color: #CE9696;
} 

tr.report2      {
	background-color: #EFEFF7;
	border: 1px solid #808080;
	border-collapse: collapse;
}

tr.report2 a     { text-decoration: none;} 
/*tr.report2 a:hover    { font-weight: bold; text-decoration: none;} */

tr.report2:hover      {
	background-color: #CE9696;
} 

td.report-firstcol  {
	padding-left: 5px;
	padding-right: 5px;
}

/* Commented By Sandy
td.report-rtl       { padding-left: 5px;  padding-right: 5px; border-right: #949EB5 1px solid; }
td.report-ltr       { padding-left: 5px;  padding-right: 5px; border-left: #949EB5 1px solid; }
*/
/******* Added by Sandy instead of above 2 class*/
.report-dir			{ padding-left: 5px;  padding-right: 5px; border-left: #949EB5 1px solid; }

thead.report-old    { color: black; font-weight: bold; background-color: #9e9e9e;  }
thead.report	      {
	color: #000;
	background-color: #ccddee;
}

thead.report a      { color: #000F5A; font-weight: bold; text-decoration: none; }
thead.report a:hover {text-decoration: none; font-weight: bold;}



/* question forms */
.critSubc      { font-weight: bold; }
.critChap      { font-size: 20; font-weight: normal; }
.critWeight    { font-size: 75% } 
.critRptAnswer { font-size: 75% }

.critInfoItemTitle  {  }
.critInfoItem   { font-weight: bold; }
.radioAnswers {color: #000; text-decoration: none;  font-family: arial;}
.radioAnswers a {color: #000; text-decoration: none;  font-family: arial;}

/* Main menu */
.mmTitle         { font-size: 120%; font-weight: bold; }
.mmAwaiting      { color: blue;  }
.mmUrgent        { color: red; }
td.report-dir a.mmExpired       { color: red; font-weight: bold; }
.mmExpired       { color: red; font-weight: bold; }
.mmAwaitingOther { color: green; }
.mmMessage       { font-size: 140%; }

.notice        { color: red; font-weight: bold; }
.anouncement   { text-align: center; font-weight: bold; font-size: 160% }
.error         { text-align: center; font-weight: bold; font-size: 160%; color: red }

/* For removing the extra lines from the form tag */
form.inline    { display: inline; }

/*  new q groups table design */

*#col1         { border: 2px solid black; }

/* end of q groups table design */

/* Menu */
/* 
Whoa, CSS is lovely! It's easy to say that only links inside the menu
will have no underline unless they are hovered.

belongs to previous design...
*/
td.menu               {  white-space: nowrap; vertical-align: top; font-size: 60%; }
td.menu a             { text-decoration: none }
td.menu a:hover       { text-decoration: underline }

a.item                { color: darkblue }
a.item-selected       { color: green }
a.parent              { color: darkblue }
a.parent-selected     { color: green }
a.parent-open         { color: indigo; font-weight: bold }
a.semiparent          { color: darkblue }
a.semiparent-selected { color: green }
a.semiparent-open     { color: darkgreen }

.title   					    { color: darkblue; font-weight: normal; font-size: 130% }  

/* end previous design (by Eyal) */

/********* Start : Added by Sandy ******************/

.pageTitle  {
	color: #fff;
	font-size: 150%;
	height: 24px;
}

td.leftPanel {
	padding: 0;
	width: 125;
	background-color: #fafafa;
	border-right: 1px solid #CCCCCC;  
}
.leftPanel div { height: 0;}
.leftCategoryTitle {
	background-color: #CCCCCC;
	color: black;
	font-weight: bold;
	height: 15px !important;
	margin-top: 10px;
	padding: 0 0 0 5px;
}

td.middlePanel { color: #BD0000;}

/********** Body CSS block: no margins for main page *********/
body { 
  margin: 0px;
/*  background-color:#CFD6E6;*/
  direction:ltr;
	font-family: "Arial"; 
  font-size: 12px;
}
th, td, select, input, button { 
  font-family: "Arial"; 
  font-size: 12px; 
}
.header-top-bg{
	height: 60px;
	background-color:white;
	padding-left: 40px;
}

.secondRowStyle{
	font-size: 0px;
	height: 0px;
}

.menu-bg{
}

.top_menu{font-family: tahoma; font-size:11; padding-left: 10; padding-right: 10; font-weight: bold; color: black;}

.top_menu-selected{
}

body .top_menu a{text-decoration: none;z-index: 100;}

.top_menu-selected a{
	text-decoration: none;
	color: black;
	padding: 2px 0px;
}

.top_menu a:hover{
	text-decoration: none;
	color: black;
	padding: 2px 0px;
}


.top_menu-red_strip{
	height: 0px; 
	font-size: 0;
	border-top: solid 1px #4579ab;
	background-color: #83A8CC; 
}

.top_menu-gray_strip{
	height: 3;
	background-color: #83A8CC; 
	font-size: 0;
}

.logo-bg	{
	border-bottom: solid 1px #fff;
}

.gray-darker	{height: 0; background-color: #52617B; font-size: 0;}
.gray-lighter1	{height: 0; background-color: #848EA5; font-size: 0;}

.gray-lighter2	{
/*	height: 25;*/
	color: white;
}

.gray-lighter3	{height: 4; font-size: 0; border-bottom: solid 1px #000;}
.breadcrums 		{color: #000;}
.breadcrums a {color: #000;}
.middle-table		{height: 65; background-color:#52617B; color: white;}

.horizontal-dots{
	font-size: 1px;
	height: 3px;
}
.vertical-dots{
	font-size: 1px;
	width: 3px;
}

.empty-style 			{font-size: 1px; padding: 0}
.empty-line-style {font-size: 10px;}
.left-menu-padding{padding: 1 2 1 2;}
.left-menu-padding a{text-decoration: none; color: black;}

.main-page-td{
	font-size: 0;
	width: 0px;
}

.middle-right{
/*	padding: 8; 
	height: 350px;*/
	background-color: #fff;
}

.section-lable{
	color: #000F5A;
	font-size: 130%;
	font-weight: bold;
	background-color: #CCDDEE;
	display: block;
}

a.reportItemTitle{
	font-size:110%;
	font-weight: bold;
	height: 24px;
	background-color: white;
	text-decoration: none;
	color: #336699;

}

.reportItemDescription {
	padding-top: 4px;
}

.footer-dots{
	font-size: 0px;
	height:2px;
	background-color: threeDShadow;
}

.bottom-tr	{height: 26px; background-color: #52617B; color: white;}
.font-style	{font-size: 10; font-family: arial;}
.font-black		{color: black;}

.contact-td {
	height: 2px;
	background-color: threeDShadow;
	font-size: 0px;
} 

/*-------------- Main menu boxes -----------------*/
td.mainMenu-line1 {
	border: solid 1px #4579ab;
	/* CHANGE THIS LINE WHEN ADDING MORE BOXES */
	width: 33%;
	padding-bottom: 5px;
	background-color: #FFFFFF;
}
td.mainMenu-line2 {
	border: solid 1px #4579ab;
	/* Again, CHANGE THIS LINE WHEN ADDING MORE BOXES */
	width: 50%;
	padding-bottom: 5px;
	background-color: #FFFFFF;
}
table.insideMain {
	width: 100%;
	font-weight: bold;
	padding-left:0px;
}

td.lineInsideMain {
	font-size: 0;
}

tr.titleInsideMain {
	color: #fff;
	padding-top: 1;
	padding-bottom: 1;
	border-bottom: 1px solid #336699;
}
tr.lineInsideMain {
}

.bulletInsideMain {
  padding: 0px 2px 0px 2px;
  width:2px;
}

td.insideMain {
  font-weight: bold;
  font-size: 15px;
	width: 98%;
	height: 24px;

}
/*************************************/
.big_edit-client-list { border-collapse: collapse; }

/************* 	setedit-frameset Left Part ******************/
a.treeChapter { font-size: 120%; font-weight: bold; text-decoration: none }
a.treeSubchapter { font-size: 110%; font-weight: bold; text-decoration: none }


/************* 	questionair preview CSS ******************/
.main-div-bg 	{background-color: #BDC7DE;}
.main-table 	{background-color: #F7F3FF; border-collapse: collapse;}
.select-obj-td select{width:150px;}

/***************************Logo style**********************/
.menu-td-Style-left{border-left: solid thin;}
.menu-td-Style-right{border-RIGHT: solid thin;}
.menu-td-Style-default{border-RIGHT: solid thin;}
.header-line{border-bottom: solid black; height: 1px;}

/******************************Footer style*****************************/
.footers-line{font-size: 6; border-bottom: solid black 1px;}
/********************* End : Added by Sandy ***********************/

.survey-details-table{border-collapse:collapse;}
.substituted-formatted-text{font-size: 130%; font-weight: bold;}

/******************/
.border1-fontbold{border: 1px solid; font-weight: bold;}
.border1{border: 1px solid;}
.bigger-font-size{font-size: 120%;}
.color-red{ color: red; }
.color-green{ color: green; }
.title1{font-size: 18; color: black; font-style: italic;}
.title2{font-size: 16; color: #000F5A; font-weight: bold;}
.title3{font-size: 16; color: #52617B; text-align: center;}
.font0-height0{font-size: 0; height: 0;}
.font-size-20{font-size: 20%;}
.font-size-9{font-size: 9;}
.padding-4{padding: 4px;}
.padding-2{padding: 2px;}
.text-decoration-none{text-decoration: none}
.width400{width: 400px;}
.font-weight-bold{font-weight: bold;}
.width-64{width:64px;}
.width-180{width:180px;}
.comboboxwidth400{width: 400px;}

/*********************************/
.btn-input{ 
}
.list-select{ 
}
.text-input{ 
}
.contentInsideMain{
  padding:14px 5px 0px 13px;
}

.contentInsideMain a {
  color: #336699;
}

.showMenuSubItems{
	width:100%;
}

.showMenuSubItems tr {
	border: 1px solid #336699;
}

.menu_top_level_wrapper{   
	border-top: 1px solid black;
}
.menu_top_level{  
}
.side_menu{  
/*	background-color: #ECECEC;*/
}
.second-alignment{
  text-align:right;
}
.logo_and_title_td{  
}

.td-bottom-padding{
	padding-bottom:10px;
	width:35px;
	height:21px;
}

/****Start :  Top Exit button*******************/
.img-exit img{
	width:35px;
	height:21px;
	border:0px;
}

.img-exit:hover img {
	width:35px;
	height:21px;
	border:0px;
}
/****End :  Top Exit button*******************/

/****Start :  Arrow image*******************/
.img-arrow img{
	width:5px;
	height:9px;
	border:0px;
}

.pointing-arrow img {height:16px; width:16px; background-image:url(../images/page_white_edit.png);}
.pointing-printer img {height:16px; width:16px; background-image:url(../images/printer.png);}

/****End :  Arrow image*******************/
.right-top-corner{
	width:18px;
	height:33px;
	border:0px;
}

.left-top-corner{
	width:18px;
	height:33px;
	border:0px;
}
.location-indicator-left{
	width:35px;
	height:40px;
	border:0px;
}

.location-indicator-right{
	width:35px;
	height:40px;
	border:0px;
}

.bottom-left{
	width:24px;
	height:10px;
}

.bottom-right{
	width:24px;
	height:10px;
}

.tinyLogo{
	width:46px;
	height:20px;
}

.main_menu_image{
	width:100%;
	height:100%;
}
.menu-seperator{
	width:1px;
	height:100%;
}
 
.top-background{
}

.top_menu_them{
	font-family: tahoma; 
	font-size:11; 
	padding-left: 0; 
	padding-right: 0; 
	font-weight: bold;
	color: black;
}
.top_menu_them-general{
	width:58;
}
.top_menu_them-selected{
	width:58;
}
.top_menu_them-selected a{text-decoration: none; color: red;}
.top_menu_them-general a{text-decoration: none;}
/*************************/
.filter-area-bottom{
}

.begin-report-area{
	background-color: #fff;
	border-spacing: 0px;
	padding: 0px;
}

.begin-report-area-td{
	border-spacing: 0px;
	padding: 0px;
}

.tiny-header{
	direction:ltr;
}

.tiny-header .hc_dychart *, 
.tiny-header .hcCustomLegendPropFilter { 
	margin: 0 auto;
} 

/********* pointing arrow*******************/
/* D 27-7-11: all pointing arrows classes were removed, since they are no longer in use */
/********* pointing arrow*******************/

/*dynamic charts*/
 input{
	font-size:10px;
  }
  #mainContainer{
	width:100%;
	margin:0 auto;
	text-align:left;
	height:100%;    
	padding-bottom:30px;
  }
  
  #header{  /* Header at the top of the demo */
	height:99px;    
  }  /* Logo image */
  #header img{
	float:left;
  }
  
  
  .dragableBox{  /* The RSS box */
	
	background-color:#FFF;
	margin:5px;
	border-right:0px solid #AAA;  /* "Shadow "*/
	border-bottom:0px solid #AAA;  /* "Shadow " */
  }
  /* A div inside the rss box - with a blue border */
  .dragableBoxInner{
	border:1px solid #848FA5;
	
  }
  .dragableBoxHeader{  /* Header inside RSS box */
	background-color: #83A8CC;
	border-bottom: 1px solid #848FA5;
	height:20px;
	padding-left: 2px;
	font-weight:bold;
	color: #FFFFFF;
	font-size: 16px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	padding-top: 0px;
  }
  .dragableBoxHeaderBlack{  /* Header inside RSS box */
	background-color:#FFFFFF;
	border-bottom: 1px solid #E74A15;
	height:18px;
	padding-left: 2px;
	font-weight:bold;
	color: #49A0C0;
	font-size: 11px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	padding-top: 3px;
  }
  .dragableBoxHeader span{  /* Text inside header of RSS box */
	line-height:20px;
  }
  .dragableBoxHeader img,.dragableBoxHeader span{  /* Text and reload image inside RSS box */
	float:left;
  }
  .boxItemHeader{  /* Title of items inside dragable boxes */
	font-weight:bold;
	margin:0px;
	color:#49A0C0;
	text-decoration:none;
	overflow:hidden;
  }  
  .boxItemHeader:hover{  /* Title of items inside dragable boxes - mouseover*/
	font-weight:bold;
	margin:0px;
	color:#49A0C0;
	text-decoration:underline;
  }
  .dragableBoxHeader input{  /* text inputs that gets visible when you click on the "edit" link at the top of a rss box */
	font-size:10px;  
  }
  
  .rssNumberOfItems{  /* Number of RSS items in header - the one inside parantheses */
	color:#49A0C0;
  }
  .dragableBoxContent{  /* DIV holding data inside dragable boxes */
	padding:0px;
	clear:both;
	
  }
  #rectangleDiv{  /* Dotted rectangle indicating where objects will be dropped */
	border:1px dotted #848FA5;
	margin:5px;
  }
  
  .closeButton{  /* Close button */
	padding:2px;
	border:1px solid #E74A15;
	line-height:9px;
	height:9px;
	margin:2px;
	color:#49A0C0;
	padding:2px;
	padding-bottom:3px;
  }
  .closeButton_over{  /* Close button - mouse over */
	padding:2px;
	border:1px solid #E74A15;
	line-height:9px;
	padding:2px;
	padding-bottom:3px;
	margin:2px;  
	background-color:#49A0C0;
	color:#49A0C0;
  }
  .dragableBoxStatusBar{  /* Status bar at the bottom of rss boxes */
	border-top:3px double #E74A15;
	height:14px;
	background-color:#E2EBED;
	padding:2px;
  }
  
  .dragableBoxEditLink{  /* Edit link on top of a box */
	color:#49A0C0;
	text-decoration:none;
	padding-top:1px;
  }
  .dragableBoxEditLink:hover{  /* Edit link - mouse over */
	color:#49A0C0;
	text-decoration:underline;
  }
  form{  /* No borders in forms */
	display:inline;
  }
  #addNewFeed{  /* The white box at the top right corner where you can add a new RSS feed */
	float:right;
	width:300px;
	background-color:#FFF;
	border:2px solid #E74A15;
	padding:2px;
	margin-right:2px;
	margin-top:2px;
  }
  
  img{
	border:0px;
	}
	
.blackbox-border { border: 1px solid #49A0C0; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #49A0C0; text-decoration: none; padding: 2px;}
.blackbox-border a { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #49A0C0; text-decoration: none; }
.blackbox-border a:hover { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #49A0C0; text-decoration: none; }

/**/
.tab-activebg { font-size: 11px; font-weight: bold; color: #000000; padding-bottom: 2px;}

.tab-activebg1 { font-size: 11px; font-weight: bold; color: #FFFFFF;}
.tab-inactivebg { font-size: 11px; font-weight: bold; color: #49A0C0; padding-bottom: 2px; }
.tab-inactivebg a {color: #49A0C0; font-weight: bold; text-decoration: none; }
.tab-inactivebg a:hover{ color: #49A0C0; text-decoration: none; font-weight: bold;  } 
/* added by rubino - Tabs images*/
.topTabActive{
 height: 27px;
 vertical-align: middle;
 text-align: center;
 }
.topTabEnableRight{
 vertical-align: middle;
 width: 5px;
 }
.topTabInactive{
 height: 27px;
 vertical-align: middle;
 text-align: center;
 }
.topTabDisableRight{
 height: 27px;
 vertical-align: middle;
 text-align: center;
 width: 5px;
 }
.topTabBetween{height: 27px; width: 3px;}
/*end of dynamic charts*/
/*********print report*************/
.reportCompanyData{font-weight: bold; font-size: 10;}
.showReportTime{font-size: 10; }
.finalGradeDetail{font-size: 11; font-weight: bold;}
.reportDetails{font-size: 10;}
.visitReportHeader{font-size: 22px; font-style: inherit; text-decoration: underline;}
.smallHeader{font-size: 10; font-weight: bold;}
.bigHeader{font-size: 18; font-weight: bold;}
.chapterDetails{}
a.chapterNameLink{color: #2C3033; text-decoration: none;}
a.chapterNameLink:hover{background-color: #2C3033; color: #FFFFFF;}
.simpleGraph{}
.subChapterName{font-size: 25; color: #333333}
.subChapterTable{background-color: #A6D3FC; color:#333333}
.inReport{font-size: 10px; font-weight: bold; background-color: #E4F2FE;}
.headerReport{color:#333333}
.subChapterLink{color:#333333; text-decoration: none; font-size: 12px; font-weight: bold;}
.subChapterLink:hover{color:red;}
.chapterName{color:#2C3033;}
.weightsTable:hover{background-color: #AAAAAA;}
.questionBox{font-size: 10px; font-weight: bold;}
.answerBox{font-size: 10px; background-color: #F1F1F1;}
.greenArrow{font-size: 11px;}
.redArrow{font-size: 11px;}


/*********print report*************/
tr.filters td {border-left:1px solid #808080; padding-left:5px; padding-right:5px;}

/*The default text in a form box*/
.form-DefaultText {  }
.form-DefaultTextActive { color: #a1a1a1; font-style: italic; }

.table-PhoneSurveysMng {border-collapse: collapse; padding: 5px;}
.table-PhoneSurveysMng td, .table-PhoneSurveysMng th {padding: 5px;}
.border-black {border: 1px solid black;}
p.p_wrapper {margin: 0;}
div.info_title {font-size: 1.5em;}
div.info_data {font-size: 6em;}
div.info_footer {}
.datelist { position:relative }
.datelist .field {width:20px; background:none; border:none; cursor:pointer;}
.datelist>ul.list { display:none;
	position:absolute; left:30px; top:10px; z-index:999;
	width:200px;
	margin:0; padding:2px; list-style:none;
	background:#fff; color:#333;
	-moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;
	-moz-box-shadow:0 0 5px #999; -webkit-box-shadow:0 0 5px #999; box-shadow:0 0 5px #999
}
.datelist>ul.list li {padding:0;  cursor:pointer;}
.datelist>ul.list li.li-level1 {padding: 4px 0; border-top: solid 1px #cccccc; font-weight: bold;}
.datelist>ul.list li.li-level2 {padding: 1px 10px; background: #cccccc;}
.datelist>ul.list li.li-level3 {padding: 1px 20px;}
.datelist>ul.list li:hover {background: grey; color:#ffffff;}

/* Rules for thumbnails in perf concentration report */
.report-dir-image, .attachment-title {text-align: center;}
p.attachment-title {margin: -5px 0 0;}
.report-dir-image img {max-height: 250px; max-width: 250px;}
.picinreport {max-height: 160px; max-width: 160px;}
.set-language, #set-language {background-color: #DEE0E2; display: inline-block; padding: 5px; border-radius: 3px; color: #777777; border: 1px solid #777777; text-decoration: none;}
.fontTabActive {color: #ffffff;}
.clear {clear: both; display: block; height: 0; overflow: hidden; visibility: hidden; width: 0;}
.LinkPPT, .LinkXLS {width: 16px; height: 16px; display: inline-block; font-size: 0px; color: rgba(0, 0, 0, 0); cursor:pointer; padding: 0 5px;}
.LinkPPT {background: url('../images/arrows/page_white_powerpoint.png') no-repeat center  center;}
.LinkXLS {background: url('../images/arrows/page_white_excel.png') no-repeat center center;}

/* Look and feel of the general filter for Analyst users */
.general_filters, tr#general_filters_date_row {border: 1px solid black}
.general_filters {border-collapse: collapse;}
table.jumps_popup_setting td, tr.jumps_popup_setting td {border-top: 1px solid black; border-bottom: 1px solid black; padding: 5px 10px;}
table.jumps_popup_setting {border-collapse: collapse;}
.clients_comments br {display: block; margin-top: 5px; content: "";}
.clients_comments, .user_message_date, .user_message_contents {background-color: yellow;}
/*.user_message_contents {margin-bottom: 5px;}*/
.top_tabs_row {border: 0 none; margin: 0; padding: 0; width: 100%;}

.voip_manager_buttons {
	background-color: #ffffff;
	border: 2px solid #cecece;
	border-radius: 5px;
	bottom: 20px;
	padding: 10px;
	position: fixed;
	right: 20px;
}

.grid_report_td {
	vertical-align: top;
}


.gm-style .gm-style-iw-c .tooltiptext {
  position: absolute !important;
  left: 0px;
  bottom: 25px;
  text-align: left;
  padding: 5px;
  width: 200px;
}
.gm-style .gm-style-iw-c, .gm-style .gm-style-iw-c>div {
  overflow: visible !important;
}
.gm-style .gm-style-iw-c .tooltiptext:after {
    content: " ";
    position: absolute;
    top: 99%;
    left: 4px;
    border-width: 10px;
    border-style: solid;
    border-color: #000 transparent transparent transparent;
}
td.contentInsideMain div.button-wrap {
  width: fit-content !important;
}
/*mobile devices*/
@media handheld,
only screen and (max-width: 480px),
only screen and (max-device-width: 480px),
only screen and (min-device-width: 320px) and (max-device-width: 480px),
only screen and (min-device-width: 480px) and (max-device-width: 800px),
only screen and (device-width: 768px),
only screen and (device-width: 480px)
{
	th, td, label, input, button, select, textarea {font-size: 0.8em;}

	textarea {
		border: 2px solid black;
		width: 95%;
		margin-right: 2%;
	}

	input:focus {width: 50%;}

	body {
		max-width:100%;
		font-size: 3em;
		background-color: #FFFFFF;
	}

	.ui-datepicker-calendar td {font-size: 1em;}
	.ui-datepicker-calendar th {font-size: 0.7em;}

	input[type="button"], input[type="submit"] { /*changeme*/
		font-size: 1em;
		padding: 10px 10px 10px 10px;
	}

	a.fieldset_toggler {
	font-size: 3em;
	color: inherit;
	height: 150px;
	width: 150px;
	background-image: url('images/menu-200.png');
	background-size: 150px 150px;
	display: block;
	color: transparent;
	}

	.gray-lighter2, .unwatchedLink {font-size: 1em;}

	.grid_report_td h1, .title1 {font-size: 3em;}
	
	/* ul#menu_top_level {background-color: #000; color: #fff;} */
	li.top_menu.top_menu {list-style-type: none; font-size: 3em; text-align: inherit;}
	.reports_categories li {list-style-type: none; text-align: inherit; padding: 1.5em 0;}
	li.toptabinactive strong, li.toptabactive strong {font-size: 2em;}
	.topTabInactive, .topTabActive {height: initial;}
	td.topTabInactive, td.topTabActive, li.topTabInactive, li.topTabActive {background-image: none;}
	td.topTabInactive, td.topTabActive {background-color: inherit; border: none;}
	ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only topTabInactive {height: 40px;}
	.header-top-bg {display: none;}

	.btn-input, .btn-input input, input[type="button"], input[type="submit"], button:not(.ui-multiselect), input[type="file"] {
	background: none repeat scroll 0 0 #cccccc;
	border: 1px solid #cccccc;
	border-radius: 3px;
	/* box-shadow: 0 1px 6px 4px rgba(0, 0, 0, 0.07) inset, 0 0 0 1px rgb(254, 254, 254), 0 2px 3px 3px rgb(210, 210, 210); */
	color: inherit;
	cursor: pointer;
	font-size: 1em;
	font-weight: normal;
	margin: 3px 2px;
	min-height: 2em;
	padding: 0 0.8em;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
	transition: all 0.2s linear 0s;
	}

	form[name="login"] {
	top: 0;
	display: inline-block;
	position: fixed;
	top: 0;
	bottom: 80%;
	left: 0;
	right: 0;
	width: 100%;
	z-index: 10000;
	background-color: white;
	}

	form[name="login"] td {font-size: 2em;}

	form[name="login"] input[type="submit"] {
	background: none repeat scroll 0 0 inherit;
	border: 1px solid rgb(210, 210, 210);
	border-radius: 3px;
	box-shadow: 0 1px 6px 4px rgba(0, 0, 0, 0.07) inset, 0 0 0 1px rgb(254, 254, 254), 0 2px 3px 3px rgb(210, 210, 210);
	color: inherit;
	cursor: pointer;
	font-size: 4em;
	font-weight: normal;
	margin: 3px 2px;
	min-height: 44px;
	padding: 0 0.8em;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
	transition: all 0.2s linear 0s;
	}

	input[type="text"], input.searchClass, textarea {
		display: inline-block; border: 1px solid rgb(178, 178, 178);
		border-radius: 3px;
		box-shadow: 0 1px 4px 0 rgba(168, 168, 168, 0.6) inset;
		box-sizing: content-box;
		margin: 0;
		padding: 2px;
		transition: all 0.2s linear 0s;
	}

	input[name="username"], input[name="password"] {
		display: inline-block; border: 1px solid rgb(178, 178, 178);
		border-radius: 3px;
		box-shadow: 0 1px 4px 0 rgba(168, 168, 168, 0.6) inset;
		box-sizing: content-box;
		margin-top: 4px;
		margin-bottom: 10px;
		padding: 5px;
		transition: all 0.2s linear 0s;
		width: 400px;
		font-size: 1em;
	}

	form[name="login"] td {display: table;}
}

div.pcstatus_outer {
    clear: both;
    display: inline-block;
    margin: 20px 40px;
	width: 40%;
}

.pcstatus_outer fieldset {
    display: block;
	text-align: justify;
}

.pcstatus_outer center {
    width: 20%;
	margin: 0 20px;
	display: block;
}


ul.breadcrumbs {
    /* margin-bottom: 20px; */
    line-height: 16px;
    color: #aaaaaa;
    padding: 1px;
    /* border: 1px solid #dee0e2; */
	font-size: 15px;
}
li.breadcrumbs {
	display: block;
	float: left;
	background: #dee0e2;
	padding-right: 10px;
	height: 32px;
	margin-right: 31px;
	position: relative;
	text-decoration: none;
	color: #aaaaaa;
}

li.breadcrumbs:last-of-type {
	margin-right: 25px;
}

li.breadcrumbs:before {
	content: "";
	display: block;
	width: 0;
	height: 0;
	position: absolute;
	top: 0;
	left: -30px;
	border: 16px solid transparent;
	border-color: #dee0e2;
	border-left-color: transparent;
	border-color: #dee0e2 #dee0e2 #dee0e2 transparent;
}

li.breadcrumbs:after {
	content: "";
	display: block;
	width: 0;
	height: 0;
	position: absolute;
	top: 0;
	right: -30px;
	border: 16px solid transparent;
	border-left-color: #dee0e2;
}

li.breadcrumbs:first-of-type {
	padding-left: 15px;
}

li.breadcrumbs:first-of-type:before {
	display: none;
}

li.breadcrumbs:hover {
	background: #777777;
	color: #dee0e2;
	text-decoration: none;
}
li.breadcrumbs:hover:before {
	border-color: #777777;
	border-left-color: transparent;
}

li.breadcrumbs:hover:after {
	border-left-color: #777777;
}

li.breadcrumbs a, .breadcrumbs a {text-decoration: none;}
li.breadcrumbs a.linkClass {color: #777777;}
li.breadcrumbs a.linkClass:hover{color: #dee0e2;}
li.breadcrumbs:hover a {color: #dee0e2;}
li.tab_menu_item a.linkClass, .tab_menu_item a.linkClass {color: #777777; text-decoration: none;}
li.tab_menu_item a.linkClass:hover, .tab_menu_item a.linkClass:hover {color: #777777; text-decoration: none;}
table.top_tabs_row .topTabInactive {background-image: none;}

.rnknum {
  display: inline;
  background: #C31313;
  color: #fff;
  padding: 5px 7px;
  border-radius: 25px;
}

.QAsetbg{ background-color:red; padding: 5px 0;}

.toptabactive strong, .Ajax2TabActive a.linkClass{color: rgb(255, 255, 255);}

.reports_categories .toptabinactive:hover, li.Ajax2TabInActive:hover{background-color: #fff;}

li.Ajax2TabInActive a.linkClass, li.Ajax2TabInActive a.linkClass:hover {text-decoration: none;}

ul.subtab li.tab_menu_item , .tab_menu_item:hover > .tab_menu_list, .tab_menu_list:hover {
	background-color: #fff;
	width: 13em;
}

li.tab_menu_item {list-style: none;}

div.tab_menu_item:hover > ul.tab_menu_list {border: 2px solid #c1c1c1;}

.fathertab:hover > .subtab {left: 0px;}

/*.Ajax2TabInActive:hover > .subtab {left: 120px; top: 0;}*/
.Ajax2TabInActive:hover > .subtab {left: 20px;}

li.fathertab:hover > .subtab {border: 2px solid #c1c1c1; padding-left: 0;}

ul.tab_menu_list:hover ul.tab_menu_list {top: 0;}

a.export-button {
    background-color: #eb3533;
    padding: 10px 15px;
    margin: 5px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
    display: inline-block;
}

p[style="page-break-before: always"] {
    text-align: center;
}

.additional_filter p {
	width: 160px !important;	
	display: block;	
	font-size: 12px;
	font-weight: bold;
	float: left;
	margin: 10px 0 !important;
}
.additional_filter .filter {
	display: inline-block;
	width: 300px;	
}
.additional_filter .filter div,
.additional_filter .filter table {
	display: inline-block !important;
}

.additional_filter .filter input {
	width: 100px !important;
	max-width: 100px !important;
}

.additional_filter .form-DefaultText {
	margin: 4px 1px 4px 4px !important;
}
div#modal-filters-popup input, 
div#modal-filters-popup select {
    margin: 0px 5px;
}

div#modal-filters-popup span {
    display: inline-block;
}

a#show-filter-popup img {
    display: none;
}

a#show-filter-popup {
    height: 25px;
    width: 25px;
    display: inline-block;
    background-image: url(//eu.checker-soft.com/testing/checker-files/media/68/css/images/filter.png);
    background-size: cover;
}

a#show-filter-popup.active,
a#show-filter-popup.filtered {
    background-image: url(//eu.checker-soft.com/testing/checker-files/media/68/css/images/filter_green.png);
}

form#filters-popup-form p.default-message:before {
	content: "• "; 
	   
    color: inherit;
}

.warning
{
	padding-right: 25px;
	background: url('../images/warning.png') no-repeat right center;
	background-size: 15px auto;
	color: #b00;
}
/* media queries */

@media screen and (max-width: 500px)
{
	.set-language,
	#logoff-button
	{
		right: 2%;
	}
	
	#logoff-button
	{
		right: 25%;
	}
}

/* media queries end */

/* table sorter */

.tablesorter th.headerSortDown {
	background: url(../images/down_arrow.gif) right center no-repeat;
	padding-right: 15px;
}

.tablesorter th.headerSortUp {
	background: url(../images/up_arrow.gif) right center no-repeat;
	padding-right: 15px;
}

/* table sorter end */

.d-flex{
	display: flex;
}
.align-items-center {
	align-items: center;
  }


#container .ui-state-highlight.ui-corner-all p.announcement-text,
#container .ui-state-error.ui-corner-all p.announcement-text {
  color: #000 !important;
  text-align: left;
}

#container .ui-state-highlight.ui-corner-all p.announcement-text *,
#container .ui-state-error.ui-corner-all p.announcement-text * {
  display: inline-block !important;
  color: #000 !important;
  }.accordion-ai-response {
	 width: 1100px;
	 overflow: hidden;
	 border-radius: 10px;
	 border: 1px solid #ccc;
	 box-shadow: 0 5px 10px rgb(0 0 0 / 10%);
	 margin: 20px auto;
	}
	
	.accordion-ai-response div:not(:last-child) {
	 border-bottom: 1px solid #ccc;
	}
	.accordion-ai-response > div button {
	 border: none;
	 outline: none;
	 text-align: left;
	 display: flex;
	 justify-content: space-between;
	 transition: 100ms ease;
	 width: 100%;
	 padding: 10px 20px;
	 font-size: 30px;
	 cursor: pointer;
	 height: 54px;
	 background-color: #e4f7fe;
	 color: #2c4482;
	 font-weight: bold;
	 position: relative;
  	 justify-content: center;
	}
	.accordion-ai-response > div button i {
		position: absolute;
		right: 20px;
	  }
	
	.accordion-ai-response > div button i {
	 transition: 200ms ease;
	}
	.accordion-ai-response > div {
	 overflow: hidden;
	 transition: 300ms ease;
	}
	
	.accordion-ai-response > div .Ai-response {
	 font-size: 16px;
	 text-align: left;
	 margin-left: 10px;
	 padding-bottom: 10px;
	}

	.insideMain.self-billing-banner {
		margin: 0px;
		height: max-content;
	}
	
	.insideMain.self-billing-banner main {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 40px;
		padding: 20px;
		box-sizing: border-box;
		background-color: var(--second-brand-color, #7dc617);
		border-radius: 3px;
		margin: 0px;
	}
	
	.insideMain.self-billing-banner .button-wrap {
		margin-bottom: 0px;
		flex-shrink: 0;
		width: fit-content;
	}
	
	.insideMain.self-billing-banner p {
		margin: 0px;
		color: #fff;
		text-align: justify;
		font-weight: normal;
	}
	
	.insideMain.self-billing-banner a.btn {
		font-weight: bold;
		background: #fff;
		border-radius: 3px;
		box-shadow: none;
		color: white;
		cursor: pointer;
		text-shadow: none;
		transition: all 0.2s linear 0s;
		padding: 15px 30px;
		font-size: 13px;
		border: 0px;
		color: #000;
		border-radius: 30px;
	}
	td.contentInsideMain a.btn {
		position: unset !important;
  }

.alterr{
	color:red;
}
.act_active{
	color: #48bb78 !important
}

.act_revoked{
	color: red !important
}
.download-pdf-btn{
	box-shadow: none !important;
    padding-left: 30px !important;
	background-size: auto 15px !important;
	min-height: 22px;
    border: 0px solid !important;
	background: var(--main-brand-color);
    border-radius: 3px;
	color: white;
    cursor: pointer;
    text-shadow: none;
    transition: all 0.2s linear 0s;
    margin: 5px 2px;
    font-size: 13px;
    font-weight: normal;
    border-style: none;
    padding: 6px 15px;
	text-decoration:none;
	 background-repeat: no-repeat;
    background-size: auto 15px !important;
    background-position: 10px center;
	background-image: url("data:image/svg+xml;charset=UTF-8,%3c?xml version='1.0'?%3e%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' version='1.1' width='512' height='512' x='0' y='0' viewBox='0 0 366.999 366.999' style='enable-background:new 0 0 512 512' xml:space='preserve'%3e%3cg%3e%3cpath xmlns='http://www.w3.org/2000/svg' id='XMLID_223_' d='M363.598,247.01c0.146-0.177,0.272-0.365,0.409-0.547c0.157-0.209,0.319-0.414,0.464-0.632 c0.145-0.216,0.27-0.441,0.402-0.662c0.118-0.198,0.243-0.392,0.352-0.596c0.121-0.225,0.223-0.458,0.332-0.688 c0.101-0.213,0.207-0.423,0.298-0.643c0.092-0.223,0.167-0.451,0.248-0.678c0.085-0.235,0.175-0.467,0.248-0.708 c0.068-0.226,0.118-0.454,0.176-0.683c0.062-0.246,0.131-0.49,0.181-0.741c0.052-0.261,0.082-0.524,0.12-0.788 c0.032-0.221,0.074-0.439,0.096-0.664c0.048-0.485,0.073-0.973,0.074-1.46c0-0.007,0.001-0.013,0.001-0.02 c0-0.008-0.001-0.017-0.001-0.025c0-0.486-0.025-0.971-0.073-1.455c-0.022-0.225-0.064-0.442-0.096-0.664 c-0.038-0.263-0.068-0.526-0.12-0.787c-0.05-0.253-0.12-0.499-0.182-0.747c-0.057-0.226-0.107-0.453-0.174-0.677 c-0.073-0.242-0.164-0.476-0.25-0.713c-0.081-0.225-0.155-0.452-0.246-0.673c-0.092-0.221-0.199-0.432-0.3-0.647 c-0.108-0.229-0.209-0.459-0.329-0.683c-0.11-0.206-0.236-0.401-0.355-0.6c-0.131-0.221-0.256-0.443-0.4-0.658 c-0.147-0.219-0.31-0.424-0.467-0.635c-0.136-0.182-0.262-0.368-0.407-0.544c-0.299-0.365-0.616-0.714-0.948-1.049 c-0.016-0.016-0.029-0.034-0.045-0.05l-37.499-37.501c-5.857-5.857-15.355-5.858-21.213-0.001c-5.858,5.858-5.858,15.355,0,21.213 l11.894,11.895L270,222.501v-78.605c0.003-0.133,0.02-0.263,0.02-0.396c0-3.606-1.287-6.903-3.407-9.49 c-0.021-0.026-0.042-0.053-0.064-0.079c-0.276-0.332-0.567-0.65-0.871-0.958c-0.043-0.044-0.087-0.089-0.131-0.133 c-0.132-0.131-0.255-0.272-0.393-0.398L155.609,22.896c-0.005-0.004-0.01-0.009-0.015-0.014c-0.307-0.306-0.627-0.593-0.955-0.868 c-0.104-0.087-0.212-0.169-0.318-0.253c-0.24-0.19-0.483-0.374-0.733-0.548c-0.125-0.088-0.251-0.174-0.379-0.258 c-0.263-0.172-0.53-0.333-0.802-0.487c-0.112-0.063-0.22-0.132-0.334-0.193c-0.363-0.194-0.733-0.372-1.109-0.534 c-0.154-0.067-0.311-0.124-0.467-0.186c-0.25-0.099-0.501-0.192-0.756-0.277c-0.175-0.058-0.35-0.114-0.527-0.166 c-0.289-0.084-0.581-0.158-0.875-0.225c-0.131-0.029-0.259-0.066-0.392-0.093c-0.42-0.084-0.844-0.146-1.27-0.193 c-0.13-0.015-0.262-0.023-0.393-0.035c-0.353-0.031-0.706-0.048-1.06-0.054C145.148,18.51,145.076,18.5,145,18.5H15 c-8.284,0-15,6.716-15,15v300c0,8.284,6.716,15,15,15h240c8.284,0,15-6.716,15-15v-80.999l45.786,0.001l-11.893,11.893 c-5.858,5.858-5.858,15.355,0,21.213c2.929,2.929,6.768,4.394,10.606,4.394s7.678-1.464,10.606-4.394l37.499-37.499 c0.008-0.008,0.014-0.016,0.021-0.023C362.968,247.742,363.292,247.383,363.598,247.01z M160,69.713l58.787,58.787H160V69.713z M240,318.5H30v-270h100v95c0,8.284,6.716,15,15,15h95v64.001l-65.001-0.001c-8.284,0-15,6.716-15,15c0,8.284,6.716,15,15,15 L240,252.501V318.5z' fill='%23ffffff' data-original='%23000000' style=''/%3e%3cg xmlns='http://www.w3.org/2000/svg'%3e%3c/g%3e%3cg xmlns='http://www.w3.org/2000/svg'%3e%3c/g%3e%3cg xmlns='http://www.w3.org/2000/svg'%3e%3c/g%3e%3cg xmlns='http://www.w3.org/2000/svg'%3e%3c/g%3e%3cg xmlns='http://www.w3.org/2000/svg'%3e%3c/g%3e%3cg xmlns='http://www.w3.org/2000/svg'%3e%3c/g%3e%3cg xmlns='http://www.w3.org/2000/svg'%3e%3c/g%3e%3cg xmlns='http://www.w3.org/2000/svg'%3e%3c/g%3e%3cg xmlns='http://www.w3.org/2000/svg'%3e%3c/g%3e%3cg xmlns='http://www.w3.org/2000/svg'%3e%3c/g%3e%3cg xmlns='http://www.w3.org/2000/svg'%3e%3c/g%3e%3cg xmlns='http://www.w3.org/2000/svg'%3e%3c/g%3e%3cg xmlns='http://www.w3.org/2000/svg'%3e%3c/g%3e%3cg xmlns='http://www.w3.org/2000/svg'%3e%3c/g%3e%3cg xmlns='http://www.w3.org/2000/svg'%3e%3c/g%3e%3c/g%3e%3c/svg%3e ") !important;
}

.download-pdf-btn:hover{
	background-color: var(--second-brand-color) !important;
	box-shadow: none !important;
    color: #fff !important;
	text-decoration:none;
}